<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="com.ambric.adesigner.launcher.design">
<stringAttribute key="com.ambric.adesigner.launcher.ddrA" value=""/>
<stringAttribute key="com.ambric.adesigner.launcher.ddrB" value=""/>
<booleanAttribute key="com.ambric.adesigner.launcher.debugServer" value="false"/>
<stringAttribute key="com.ambric.adesigner.launcher.design" value="src\opticalFlowTop\OpticalFlowTop_Output_only.design"/>
<booleanAttribute key="com.ambric.adesigner.launcher.genHalt" value="false"/>
<stringAttribute key="com.ambric.adesigner.launcher.host" value="localhost"/>
<intAttribute key="com.ambric.adesigner.launcher.hwBoardId" value="0"/>
<booleanAttribute key="com.ambric.adesigner.launcher.hwExternal" value="false"/>
<booleanAttribute key="com.ambric.adesigner.launcher.hwHalt" value="true"/>
<mapAttribute key="com.ambric.adesigner.launcher.iofiles">
<mapEntry key="0,Capture" value="Output\Vx_smooth_source_300x236x7.ambricFile"/>
<mapEntry key="1,Capture" value="Output\Vy_smooth_source_300x236x7.ambricFile"/>
</mapAttribute>
<intAttribute key="com.ambric.adesigner.launcher.port" value="1697"/>
<stringAttribute key="com.ambric.adesigner.launcher.profilingCapture" value=""/>
<booleanAttribute key="com.ambric.adesigner.launcher.profilingEnabled" value="false"/>
<booleanAttribute key="com.ambric.adesigner.launcher.profilingHw" value="false"/>
<stringAttribute key="com.ambric.adesigner.launcher.profilingMeas" value=""/>
<stringAttribute key="com.ambric.adesigner.launcher.project" value="OpticalFlow"/>
<booleanAttribute key="com.ambric.adesigner.launcher.regressGen" value="false"/>
<booleanAttribute key="com.ambric.adesigner.launcher.regressHw" value="false"/>
<booleanAttribute key="com.ambric.adesigner.launcher.regressSim" value="false"/>
<booleanAttribute key="com.ambric.adesigner.launcher.simHalt" value="false"/>
<intAttribute key="com.ambric.adesigner.launcher.simJavaIss" value="0"/>
<intAttribute key="com.ambric.adesigner.launcher.type" value="2"/>
</launchConfiguration>
