<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="com.ambric.adesigner.launcher.design">
<stringAttribute key="com.ambric.adesigner.launcher.ddrA" value=""/>
<stringAttribute key="com.ambric.adesigner.launcher.ddrB" value=""/>
<booleanAttribute key="com.ambric.adesigner.launcher.debugServer" value="false"/>
<stringAttribute key="com.ambric.adesigner.launcher.design" value="src/designs/Top.design"/>
<stringAttribute key="com.ambric.adesigner.launcher.host" value="localhost"/>
<intAttribute key="com.ambric.adesigner.launcher.hwBoardId" value="0"/>
<booleanAttribute key="com.ambric.adesigner.launcher.hwExternal" value="false"/>
<booleanAttribute key="com.ambric.adesigner.launcher.hwHalt" value="false"/>
<mapAttribute key="com.ambric.adesigner.launcher.iofiles"/>
<intAttribute key="com.ambric.adesigner.launcher.port" value="1697"/>
<stringAttribute key="com.ambric.adesigner.launcher.profilingCapture" value=""/>
<booleanAttribute key="com.ambric.adesigner.launcher.profilingEnabled" value="false"/>
<booleanAttribute key="com.ambric.adesigner.launcher.profilingHw" value="true"/>
<stringAttribute key="com.ambric.adesigner.launcher.profilingMeas" value="src\designs\Top aSim"/>
<stringAttribute key="com.ambric.adesigner.launcher.project" value="sobel_hough"/>
<booleanAttribute key="com.ambric.adesigner.launcher.regressGen" value="false"/>
<booleanAttribute key="com.ambric.adesigner.launcher.regressHw" value="false"/>
<booleanAttribute key="com.ambric.adesigner.launcher.regressSim" value="false"/>
<booleanAttribute key="com.ambric.adesigner.launcher.simHalt" value="false"/>
<intAttribute key="com.ambric.adesigner.launcher.simJavaIss" value="0"/>
<intAttribute key="com.ambric.adesigner.launcher.type" value="2"/>
<stringAttribute key="org.eclipse.debug.core.source_locator_id" value="com.ambric.debug.core.sourceLookupDirector"/>
<stringAttribute key="org.eclipse.debug.core.source_locator_memento" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#13;&#10;&lt;sourceLookupDirector&gt;&#13;&#10;&lt;sourceContainers duplicates=&quot;true&quot;&gt;&#13;&#10;&lt;container memento=&quot;&amp;lt;?xml version=&amp;quot;1.0&amp;quot; encoding=&amp;quot;UTF-8&amp;quot;?&amp;gt;&amp;#13;&amp;#10;&amp;lt;default/&amp;gt;&amp;#13;&amp;#10;&quot; typeId=&quot;org.eclipse.debug.core.containerType.default&quot;/&gt;&#13;&#10;&lt;/sourceContainers&gt;&#13;&#10;&lt;/sourceLookupDirector&gt;&#13;&#10;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="{0}"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value=""/>
</launchConfiguration>
